/* ---General Rules--- */

.hidden {
    display: none;
}

body {
    color: black;
    /* padding: 0 0 10px 10px; */
}

.line-separator {
    margin-top: 20px;
    border-top: solid 3px #910F4A;
    padding-top: 20px;
 }

@font-face {
    font-family: 'hoss_roundbold';
    src: url('../fonts/hoss-round-bold-webfont.woff2') format('woff2'),
         url('../fonts/hoss-round-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir-book';
    src: url('../fonts/avenir-book-webfont.woff2') format('woff2'),
         url('../fonts/avenir-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir-medium';
    src: url('../fonts/avenir-medium-webfont.woff2') format('woff2'),
         url('../fonts/avenir-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'hoss-roundbold';
}

h2, h3, h4, h4, h5, a, input, label, textarea {
    font-family: 'avenir-medium';
}

p, li {
    font-family: 'avenir-book';
}

/* HOMEPAGE STYLING */

/* Navigation Section */

#logo img {
    width: 200px;
    margin: 15px 15px 0 0;
}

#nav-con {
    background-color: #ffffff;
    height: 100px;
    position: relative;
}
 
#main-nav input, #burger-con {
    display: none;
}

#main-nav label img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .3s ease;
    position: absolute;
    top: 20px;
    right: 20px;
}
 
/* Burger menu */

#main-nav input:checked ~ #burger-con {
    display: block;
    position: relative;
    z-index: 999;
}
 
#main-nav input:checked ~ label img {
    transform: rotate(90deg);
}

#main-nav ul {
    list-style: none;
    background-color: #03006D;
    margin-top: 0;
    padding: 0;
}
 
#main-nav ul li a {
    display: block;
    padding-top: 7px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin-top: 7px;
    font-weight: 600;
}

#main-nav ul li:first-child {
    padding-top: 15px;
} 

#main-nav ul li:last-child {
    padding-bottom: 20px;
} 

/* Slogan */
.slogan-home-page {
    position: absolute;
    z-index: 2;
    margin-left: 18%;
    margin-top: 4%;
}

.slogan-home-page h2 {
    font: 'hoss-roundbold';
    font-size: 18px;
    text-align: center;
    color: #B50F3E;
}

/* Banner */

.main-hero-image-div {
    position: absolute;
    z-index: 1;
}

.hero-heading-box {
    align-self: end;
    position: absolute;
    z-index: 3;
    justify-self: center;
    width: 90%;
}

.hero-heading-box-home {
    align-self: end;
    position: absolute;
    z-index: 4;
    justify-self: center;
    width: 90%;
}

.hero-heading-box-products {
    align-self: center;
    position: absolute;
    z-index: 5;
    justify-self: center;
    width: 80%;
}

.hero-img-h2 {
    background-color: #B50F3E;
    color: white;
    text-align: center;
    padding: 12px 12px;
    font-size: 24px;
    margin-bottom: 4px;
}

/* Welcome Section */
#welcome {
    margin-top: 20px;
}

#welcome h3 {
    font-size: 45px;
    letter-spacing: 2px;
    color: #910F4A;
}

#welcome p {
    font-weight: 600;
    font-size: 17px;
    line-height: 27px;
}

.welcome-image {
    margin: 40px 20px;
    border: 3px solid #03006D;
    transform: rotate(-5deg);
    width: 300px;
    height: 300px;
    justify-content: center;
}

#welcome img {
    height: 300px;
    transform: rotate(10deg);
    justify-content: center;
}

/* Features Section */
#features {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.feature_icon {
    width: 105px;
    height: 105px;
    margin-bottom: 8px;
}

#features h3 {
    font-size: 22px;
    font-weight: bold;
    color: #03006D;
    letter-spacing: 1px;
    max-width: 200px;
    margin-top: 25px;
    margin-bottom: 1px;
}

#features p {
    font-size: 17px;
    width: 170px;
    line-height: 20px;
}

/* Products Home Section */

#product-title {
    background-color: #B50F3E;
    background-size: cover;
    height: 81px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}

#product-title h3 {
    font-size: 28px;
    text-transform: uppercase;
    margin-top: 10px;
}

#product-title p {
    font-size: 16px;
    font-weight: 600;
    margin-top: -35px;
}

#products {
    padding-top: 30px;
}

.product h3 {
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    color: #B50F3E;
}

#products img:first-child {
    width: 150px;
}

.best-drink-h2 {
    display: none;
}

.desc-cards {
    font-weight: 700;
    text-align: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product img {
    border: 2px solid #03006D;
}

.product p {
    text-align: justify;
}

.buy-now-button {
    border-radius: 10px;
    margin-bottom: 30px;
    font: inherit;
    border: 0 0 20px 20px;
}

.buy-now-button[type="submit"] {
    padding: 12px 28px;
    background: #910F4A;
    color: #fff;
    border: 2px solid #03006D;
    transition: all 200ms ease-in;
    width: 150px;
    font-family: 'avenir-medium';
    font-weight: bold;
}

.buy-now-button[type="submit"]:hover {
    background: #FF2470;
 }

/* Footer */

#footer-con {
    background-color: black;
}

#logo-footer, #logo-socmed, #footer-menu, #footer-service {
    padding: 20px;
}

#logo-socmed img {
    width: 30px;
}

#logo-footer img {
    width: 230px;
    margin-top: 30px;
}

#footer-credits {
    text-align: center;
    color: #ffffff;
}

#footer-info {
    display: grid;
    justify-content: center;
    align-items: center;
}

#logo-footer,
#logo-socmed {
    justify-self: center;
}

#footer-nav,
#footer-service {
    display: flex;
    justify-content: center;
}

#footer-nav ul,
#footer-service ul {
    list-style: none;
    padding: 0;
    text-align: left;
    text-align: center;
}

#footer-nav li,
#footer-service li {
    margin-bottom: 10px; 
}

#footer-nav a,
#footer-service a {
    text-decoration: none;
    color: #ffffff;
}

/* CONTACT US PAGE */

/* Contact Form */

.hero {
    width: 100%;
    /* height: 50vh;   */
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 90%;
    max-width: 600px;

}

.input-group {
    margin-bottom: 30px;
    position: relative;
}

.hero input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #000000;
    color: rgb(0, 0, 0);
    background: transparent;
    font-size: 15px;
    font-family: 'avenir-book' !important;
}

.hero label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #000000;
    cursor: text;
    transition:0.2s;
}

.hero button {
    padding: 10px 0;
    color: #ffffff;
    outline: none;
    background-color: #03006d;
    border: 2px solid #910F4A;
    width: 40%;
    cursor: pointer;
}

.hero button:hover {
    background-color: #FF2470;
}
 
form input:focus~label, input:valid~label, textarea:focus~label,textarea:valid~label {
    top: -35px;
    font-size: 14px;
}

.thanking h2 {
    text-align: center;
    font-size: 55px;
    margin-top: 60px;
    color: #03006D;
}
.thanking h3 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
    color: #03006D;
}

/* Address and Phone */
#address-phone {
    margin-bottom: 30px;
    margin-left: 10px;
    margin-top: 30px;
}


/* PRODUCT PAGE */

.products-page {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2em;
}

.product-page {
    margin: 1em;
    text-align: center;
    position: relative;
}

.image-container {
    position: relative;
}

.product-page img {
    max-width: 100%;
    height: auto;

}

.info-button {
    position: absolute;
    bottom: 36%;
    left: 65%;
    transform: translateX(-50%);
    padding: 0.5em 1em;
    background-color: white;
    border-radius: 70px;
    border: #03006D solid 4px;
    color: black;
    cursor: pointer;
    z-index: 10;
}


#product-info {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #910F4A;
    color: white;
    padding: 2em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 5%;
    max-width: 80%;
    z-index: 10;
    text-align: center;
}

#close-info {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5em;
}

/* ABOUT US PAGE */

.about-us {
    margin: auto;
    text-align: center;
}

.about-us h2 {
    color: #03006D;
    margin-top: 1em;
}

.about-us p {
    text-align: left;
    line-height: 1.6;
    margin: 1em 0;
}

.about-us ul {
    text-align: left;
    list-style-type: none;
    padding: 0;
}

.about-us ul li {
    margin: 0.5em 0;
}

.about-us ul li strong {
    color: #03006D;
    font-size: larger;
    font-weight: bolder;
}

.about-image {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}

.join-us-image {
    width: 40%;
    height: auto;
    margin-bottom: 1em;
    justify-self: center;
}

/* Video Section */
#video-section {
    margin-left: 2%;
    margin-right: 2%;
}


/* ---Tablet Library Grid Styles--- */

@media screen and (min-width: 768px) {
    body {
        margin: 0 auto;
    }

    #logo img {
        width: 225px;
        margin: 5px 0 0 10px;
    }

    #main-nav label img {
        display: none;
    }

    #burger-con {
        display: contents;
     }

    #main-nav {
        position: absolute;
        left: 360px;
        top: -10px;
        width: 450px;
    }

    #main-nav ul {
        background: none;
        margin-top: 20px;
    }

    #main-nav ul li {
        display: inline-block;
        margin: 0 15px;
    }

    #main-nav ul li a {
        color: #03006D;
    }
    
    /* Features Section */
    #features {
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
    }
    
    .feature_icon {
        width: 135px;
        height: 135px;
        margin-bottom: 8px;
    }
    
    #features h3 {
        font-size: 22px;
        letter-spacing: 1px;
        width: 170px;
        margin-top: 15px;
        margin-bottom: 1px;
    }
    
    #features p {
        font-size: 17px;
        width: 170px;
        line-height: 20px;
    }

        /* Slogan */
    .slogan-home-page {
        margin-left: 20%;
        margin-top: 6%;
    }

    .slogan-home-page h2 {
        font-size: 32px;
    }
    
    /* Banner */
    .hero-heading-box {
        width: 60%;
    }

    .hero-heading-box-products {
        width: 60%;
    }
    
    .hero-img-h2 {
        padding: 20px 20px;
        font-size: 32px;
        margin-bottom: 4px;
    }

    /* Welcome Section */
    #welcome {
        display: flex;
        justify-content: space-between;
        margin: 20px 40px 20px 40px;
    }
    
    #welcome h3 {
        font-size: 42px;
        letter-spacing: 2px;
    }
    
    #welcome p {
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
    }

    .welcome-image {
        margin: 40px 20px;
        border: 3px solid #03006D;
        transform: rotate(-5deg);
        width: 200px;
        height: 200px;
        justify-content: center;
    }
    
    #welcome img {
        height: 200px;
        transform: rotate(10deg);
    }

    /* Products Section */
    #product-title {
        height: 136px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    
    #product-title h3 {
        font-size: 50px;
        margin-top: 10px;
    }
    
    #product-title p {
        font-size: 28px;
        margin-top: -60px;
    }
    
    .product h3 {
        font-size: 15px;
        width: 200px;
    }
    
    #products {
        padding-top: 25px;
    }
    .best-drink-h2 {
        display: block;
        font-size: 32px;
        color: #910F4A;
        font-weight: bold;
    }

    /* Footer */
    #footer-nav ul,
    #footer-service ul {
        list-style: none;
        padding: 0;
        text-align: left;
    }

    #footer-nav {
        display: block;
        margin-top: 40px;
        padding-top: 0;
        margin-bottom: 0;
        margin-left: 50px;
        column-count: 2;
    }

    #footer-nav ul {
        width: 200px;
        padding-top: 0;
        margin-top: 0;
    }

    /* CONTACT US PAGE */
    /* Contact form */
    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .row  .input-group {
        flex-basis: 47% ;
    }
    
    .hero button {
        width: 25%;
    }

    .hero button[type="submit"] {
        font-size: 20px;
    }

    /* ABOUT US PAGE */

    .join-us-image {
        width: 100%;
    }

}


/* ---Desktop Library Grid Styles--- */

@media screen and (min-width: 1200px) {
    body {
        margin: 0 auto;
    }

    #logo img {
        width: 240px;
        margin: 5px 0 0 15px;
    }

    #main-nav label img {
        display: none;
    }

    #burger-con {
        display: contents;
     }

    #main-nav {
        position: absolute;
        left: 700px;
        top: -10px;
        width: 500px;
     }

    #main-nav ul {
        background: none;
        margin-top: 20px;
    }

    #main-nav ul li {
        display: inline-block;
        margin: 0 15px;
        font-size: 20px;
    }

    #main-nav ul li a:hover {
        text-decoration: underline;
    }

    /* Main Hero */
    .refresh h2 {
        font-size: 12px;
    }

        /* Slogan */
    .slogan-home-page {
        margin-left: 22%;
        margin-top: 8%;
    }

    .slogan-home-page h2 {
        font-size: 40px;
    }

    /* Banner */
    .hero-heading-box {
        width: 65%;
        justify-self: right;
        margin-right: 4%;
    }

    .hero-heading-box-home {
        width: 65%;
        justify-self: left;
        margin-left: 4%;
        width: 55%;
    }
    
    .hero-img-h2 {
        padding: 30px 20px;
        font-size: 38px;
        margin-bottom: 4px;
    }

    /* Welcome Section */
    #welcome {
        display: flex;
        justify-content: space-between;
        margin: 20px 50px 20px 50px;
    }
    
    #welcome h3 {
        font-size: 50px;
        letter-spacing: 2px;
    }
    
    #welcome p {
        font-weight: 700;
        font-size: 20px;
        line-height: 41px;
    }

    #welcome img {
        width: 200px;
    }

    .welcome-image {
        margin: 40px 20px;
        border: 3px solid #03006D;
        transform: rotate(-5deg);
        width: 200px;
        height: 200px;
        justify-content: center;
    }
    
    #welcome img {
        height: 200px;
        width: 200px;
        transform: rotate(10deg);
    }

    /* Feature Section */
    #features {
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
    }
    
    .feature_icon {
        width: 135px;
        height: 135px;
        margin-bottom: 8px;
    }
    
    #features h3 {
        font-size: 30px;
        letter-spacing: 1px;
        width: 170px;
        margin-top: 15px;
        margin-bottom: 1px;
        text-align: center;
    }
    
    #features p {
        font-size: 17px;
        width: 170px;
        line-height: 20px;
    }

    /* Products Section */
    #product-title {
        height: 136px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    
    #product-title h3 {
        font-size: 50px;
        margin-top: 10px;
    }
    
    #product-title p {
        font-size: 28px;
        margin-top: -60px;
    }
    
    .product h3 {
        font-size: 23px;
        width: 200px;
        line-height: 32px;
    }
    
    #products {
        padding-top: 25px;
    }

    /* Footer */
    #footer-nav ul,
    #footer-service ul {
        list-style: none;
        padding: 0;
        text-align: left;
    }

    #footer-nav {
        display: block;
        margin-top: 40px;
        padding-top: 0;
        margin-bottom: 0;
        margin-left: 50px;
        column-count: 2;
    }

    #footer-nav ul {
        width: 200px;
        padding-top: 0;
        margin-top: 0;
    }

    #logo-socmed {
        margin-left: 45px; 
    }

    #footer-info {
        display: block;
        margin-left: 40px;
    }
    
    #footer-info {
        display: block;
        margin-left: 60px;
    }

    #footer-nav {
        display: block;
        margin-top: 40px;
        padding-top: 0;
        margin-bottom: 0;
        margin-left: 300px;
        column-count: 2;
        }
    
    #footer-credits {
        margin-left: -180px;;
    }
}
